body {
  background: linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
  margin: 0;
  /* font-family: Inter, "SF Pro Display", Roboto, Helvetica, Arial, sans-serif !important; */
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 32px 16px; */
}

.action-btn {
  transition: all 0.3s !important;
}

.action-btn:hover {
  background-color: #c5c5c5 !important; 
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.task{
  transition: all 0.3s !important;
}

.task:hover {
  /* padding-top: 16px ;
  padding-bottom: 16px; */
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}